<%= stylesheet_link_tag 'generate_subtasks.css',:plugin => 'redmine_batch_subtask_generation' %>
<%= javascript_include_tag 'constant.js' ,:plugin => 'redmine_batch_subtask_generation'%>
<%= javascript_include_tag 'common.js' ,:plugin => 'redmine_batch_subtask_generation'%>
<%= javascript_include_tag 'api.js' ,:plugin => 'redmine_batch_subtask_generation'%>
<%= javascript_include_tag 'template.js' ,:plugin => 'redmine_batch_subtask_generation'%>
<%= javascript_include_tag 'generate_subtasks.js' ,:plugin => 'redmine_batch_subtask_generation'%>

<div id="select_template_modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h3>Generate Subtasks</h3>
        </div>
        <div class="modal-body">
            <div class="select-template">
                <label for="select_template">Choose template</label>
            </div>
            <div class="tree">
                <ul class="list wrapper"></ul>
            </div>
            
            
        </div>
        <div class="modal-footer">
            <button type="button" class="confirm">OK</button>
            <button type="button" class="cancel">Cancel</button>
        </div>
    </div>
</div>

<script>

    var parentId = "<%= String @issue.id %>"
    var projectId = "<%= String @issue.project_id %>"
    var subject = "<%= String @issue.subject %>"
    var priorityId = "<%= String @issue.priority_id %>"
    var assignedToId = "<%= String @issue.assigned_to_id %>"
    var fixedVersionId = "<%= String @issue.fixed_version_id %>"
    var startDate = "<%= String @issue.start_date %>"
    var trackerId = "<%= String @issue.tracker_id %>"
    var templates = <%= templates.to_json.html_safe %>;
    var trackers = <%= trackers.to_json.html_safe %>;

    var generateSubtasks = new GenerateSubtasks();

    $(document).ready(function () {
        initModal('#select_template_modal');
        setCookie('redmine_api_key', '');

        var btnGenSubtasks = $('<a id="btn_generate_subtasks" style="margin-left: 10px" title="Generate Subtasks" href="#">Generate</a>');
        $('#issue_tree > p').append(btnGenSubtasks);
        generateSubtasks.checkDisplayButtonGenSubtasks(trackerId, templates, btnGenSubtasks);
        
        /**
         * Handle click button generate
         */
        btnGenSubtasks.on('click', function (e) {
            e.preventDefault();
            showGenerateModal('#select_template_modal');
        });

        let selectTemplateEle = generateSubtasks.getTemplateOptions(trackerId, templates);
        let $selectTemplateEle = $(selectTemplateEle);
        $('#select_template_modal .select-template').append($selectTemplateEle);

        $selectTemplateEle.on('change', function () {
            let id = $(this).val();
            let filterTemplates = generateSubtasks.filterTemplateById(id, templates);
            let template = filterTemplates.length > 0 ? filterTemplates[0] : {};
            generateSubtasks.setDefaultSetting(template);

            let $ulEle = $('#select_template_modal ul.list.wrapper');
            $ulEle.html('');
            generateSubtasks.renderTemplatesAsDetail(generateSubtasks.defaultTemplate, $ulEle, trackers, subject);
        });

        $('#select_template_modal .confirm').on('click', function () {
             generateSubtasks.handleClickGenerateSubtasks();
        });
    })
</script>
