<p><%= link_to l(:label_issue_category_new), new_project_issue_category_path(@project), :class => 'icon icon-add' if User.current.allowed_to?(:manage_categories, @project) %></p>

<% if @project.shared_categories.any? %>
<table class="list">
  <thead><tr>
    <th><%= l(:label_issue_category) %></th>
    <th><%= l(:field_assigned_to) %></th>
    <th><%= l(:field_sharing) %></th>
    <th style="width:15%"></th>
    <th></th>
  </tr></thead>
  <tbody>
<% for category in @project.shared_categories %>
  <% unless category.new_record? %>
  <tr>
    <tr class="category <%= 'shared' if category.project != @project %>">
    <td class="name <%= 'icon icon-shared' if category.project != @project %>"><%= category.name %></td>
    <td><%= category.assigned_to.name if category.assigned_to %></td>
    <td class="sharing"><%=h format_category_sharing(category.sharing) %></td>
    <td class="buttons">
      <% if  category.project == @project && User.current.allowed_to?(:manage_categories, @project) %>
        <%= link_to l(:button_edit), edit_issue_category_path(category), :class => 'icon icon-edit' %>
        <%= delete_link issue_category_path(category) %>
      <% end %>
    </td>
  </tr>
  <% end %>
<% end %>
    </tbody>
</table>
<% else %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
