<% unless @issue_custom_fields.empty? %>
  <fieldset class="box tabular" id="project_issue_coppy_setting"><legend><%= toggle_checkboxes_link('#project_issue_coppy_setting input[type=checkbox]:enabled') %>Inherit setting</legend>
    <% @issue_custom_fields.each do |custom_field| %>
      <label class="floating">
        <%= custom_field_name_tag(custom_field) %>
        <br>
        <label class="floating">
          <%= check_box_tag 'project[issue_copy_setting_ids][allow_copy][]', custom_field.id, (@allow_copy.to_a.include? custom_field.id) %> Allow Inherit
        </label>
        <br>
        <label class="floating">
          <%= check_box_tag 'project[issue_copy_setting_ids][is_default][]', custom_field.id, (@is_default.to_a.include? custom_field.id) %> Is default
        </label>
        <br>
      </label>
    <% end %>
    <label class="floating">
      Category
      <br>
      <label class="floating">
        <%= check_box_tag 'project[issue_category_copy_setting_ids][allow_copy][]', 1, !@category_allow_copy.empty? %> Allow Inherit
      </label>
      <br>
      <label class="floating">
        <%= check_box_tag 'project[issue_category_copy_setting_ids][is_default][]', 1, !@category_is_default.empty? %> Is default
      </label>
      <br>
    </label>
  </fieldset>
<% end %>